<div>
    <div class="project__header">
        <h2>Add Project</h2>
    </div>
    <hr>
    
    <!-- <div>
        <div class="btn-con">
            <button type="button" class="button_add">
                <span>Upload Excel File</span>
            </button>
            <button type="button" class="button_add">
                <span>Create New Project</span>
            </button>
        </div>
    </div> -->
    <div class="project__content">
        <div class="project__content-actions">
            <button type="button" class="btn" (click)="onClick_addExcel()">
                <img src="../../../../assets/icons/Union.png">
                <span>Upload Excel File</span>
            </button>
            <button type="button" class="btn" (click)="onClickCreateProject()">
                <img src="../../../../assets/icons/Union2.png">
                <span>Create New Project</span>
            </button>
        </div>
    </div>
</div>
